{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": false,
  "bracketSpacing": true,
  "semi": true,
  "proseWrap": "always",
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^api/(.*)$",
    "",
    "^src/(.*)$",
    "",
    "^tests/(.*)$",
    "",
    "^server/(.*)$",
    "^core/(.*)$",
    "^utils/(.*)$",
    "",
    "^objects/(.*)$",
    "",
    "^types/(.*)$",
    "",
    "package.json",
    "",
    "^[./]"
  ]
}
